.card {
  padding: 4px 0px;
  border: 0.5px solid;
  border-radius: 10px;
  margin: 0px 4px;
  text-align: center;
  background-color: rgb(227, 227, 236);
  text-transform: capitalize;
}
.log {
  position: fixed;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(227, 227, 236);
}
.card-log {
  text-align: unset;
  background-color: white;
  position: relative;
  margin: 20vh 25%;
  text-transform: capitalize;
  padding: 10px 20px;
}
.card-log > section {
  text-align: left;
}
.card-log > section > span > input {
  width: 28vw;
}
.card-log > section > span > select {
  background-color: rgb(226, 223, 223);
  width: 28vw;
}
.card-log > section > button {
  background-color: rgb(114, 139, 227);
  margin-top: 5px;
  width: 28vw;
}
.students {
  text-align: unset;
  padding: 12px;
  background-color: rgb(198, 241, 241);
}
section > details {
  padding: 4px;
}
section > details > summary:hover {
  cursor: pointer;
}

.topic {
  text-decoration: underline;
}
li.topic:hover {
  cursor: pointer;
}
.ass {
  cursor: auto;
  text-align: unset;
  padding: 10px;
  background-color: rgb(228, 191, 191);
}

input {
  margin: 4px 4px;
}
.link {
  text-decoration: underline;
  color: blue;
  padding: 0px 8px;
}
.link-b {
  text-decoration: underline;
  color: rgb(0, 0, 0);
  padding: 0px 8px;
}

.link-b:hover {
  cursor: pointer;
}
span.link:hover {
  cursor: pointer;
}

.btn {
  margin: 2px 6px;
  border-radius: 10px;
  padding: 4px 8px;
  background-color: rgb(175, 203, 245);
}
.finish {
  background-color: rgb(149, 167, 152);
  margin-top: 10px;
}
.btn-cancel {
  margin: 2px 6px;
  border-radius: 10px;
  padding: 4px 8px;
  background-color: rgb(247, 122, 122);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.grid2 {
  grid-template-columns: auto auto;
}
.inlinegrid {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.inlinegrid2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.inlinegrid > div {
  line-height: 50px;
  font-size: 20px;
}

/*Admin page*/
table,
th,
td {
  border: 1px solid;
}
.table {
  margin: 8px 10px;
  border-collapse: collapse;
  width: 90%;
  padding: 10px;
}
.item {
  padding: 10px;
}
